*{margin: 0;
    padding: 0;
    /* background-color: burlywood; */
    
}

ul{
    display: flex;
    justify-content: center;
    gap: 50px;
    
}
a{
    text-transform: uppercase;
    text-decoration: none;
    text-overflow: clip;
    color: black;
}
.apropos{
    margin-left: 10%;
    margin-right: 10%;
    background-color: black;
    display: flex;
    gap: 5%;
    /* padding: 5%; */
    position: relative;
    /* background: linear-gradient(45deg,#f06,#3cf ); */
}
.adresse{
    
    background: linear-gradient(45deg,rgb(78, 190, 190),rgb(68, 171, 179) );
    /* margin: 100px; */
    padding: 60px;
    /* border-radius: 20px; */
    width: 60%;
    height: 70vh;
    
    
}
.adresse img{
    width: 300px;
    height: 300px;
    border-radius: 20px;
    border-style: groove;
    border-color: black;
    margin-left: 50px;
    box-shadow: 500px;
    
}

.nom{
    width: 500px;
    /* gap: 20px; */
    display: flex;
    flex-direction: column;
    background-color: rgb(grey);
    padding: 20px;
    justify-content: center;
    position: absolute;
    left: 36%;
    bottom: 40%px;
    top: 35%;
    border-radius: 20px;

}
.nom p{
    /* color: black; */
    text-decoration-style: double;
    font-size: larger;
}
.nom h2{
    text-align: center;
    text-decoration: solid;
    animation: miovaova 5s infinite;
}
@keyframes miovaova {
    15%{
        color: rgb(37, 216, 216);
    }
    50%{
        color: rgb(71, 67, 88);
    }
    80%{
        color: rgb(219, 226, 219);
    }
    
}
.nom p{
    text-align: center;
    text-decoration: solid;
}
.main{
    background-color: black;
    margin-left: 10%;
    margin-right: 10%;
}
.main1{
    /* margin-left: 10%; */
    /* margin-right: 10%; */
    background-color: black;
    /* display: flex; */
    /* gap: 5%; */
    /* padding: 5%; */
}
.motivation{
    width: 30%;
    padding: 5%;
    color: white;
}
.experience{
    align-items: center;
    background:linear-gradient(45deg,rgb(78, 190, 190),rgb(68, 171, 179) );
    padding: 5%;
    width: 60%;
}
.experience p{
    padding-left: 5%;
}
.Education{
    background: linear-gradient(45deg,rgb(120, 208, 219),rgb(52, 180, 189) );
    padding: 5%;
    width: 60%;
    /* margin-left: 10%; */
    /* margin-right: 10%; */
}
.Education h2{
    text-transform: uppercase;
    align-items: center;
    padding: 5%;
    border-radius: 20px;
    color: var(--text-color);
    background-color: gray;
    animation: miovaova 2s infinite;
}
.Education p{
    padding-left: 5%;
}
.nom h2{
    border-style: double;
}
.Contact{
    display: flex;
    justify-content: center;
    /* background-color: beige; */
    flex-direction: column;
    margin-left: 5%;
    width: 30%;
    height: 100%;
    gap: 500px;
    color: white;

    /* margin-right: 10%; */
}
.Contact i{
    padding: 2%;
    text-align: left;
}
.Contact P{
    text-align: center;
}
.Contact h2{
    text-transform: uppercase;
    align-items: center;
    padding: 5%;
    border-radius: 20px;
    color: black;
    background-color: gray;
    animation: miovaova 5s infinite;
}
.pied{
    /* margin-left: 10%; */
    margin-right: 10%;
    width: 30%;
    height: 100%;
    background-color: rgb(61, 204, 156);
}
.main1 h2{
    text-transform: uppercase;
    align-items: center;
    padding: 5%;
    border-radius: 20px;
    color: black;
    background-color: gray;
    animation: miovaova 5s infinite;
    /* width: 60%; */
    /* align-self: center; */
}
h4{
    align-items: center;
    /* color: blue; */
}